[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
fastapi = "*"
trio = "*"
psycopg2 = "*"

[dev-packages]
pgcli = "*"

[requires]
python_version = "3.11"
